body {
    margin: 0;
    overflow: hidden;
}

#findTeamForm {
    position: relative;
    top: 150px;
    width: 80%;
    margin-left: 10%;
}

webview {
    display: inline-block;
    width: 100%;
}
